<div class="container p-3 my-4" style="background-color:rgb(165, 217, 250)">  
  <div class="col-sm-4">
    <h3 style="color:green">Bienvenido</h3>
  </div>
</div>

{{#if admin }}
<div class="container p-5 my-5 bg-light">
  <h1 style="color:blue">Ingrese Producto</h1>
  <form action="/productos" method="POST" id="form">
    <div class="mb-3 mt-3">
      <label for="title" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Ingrese el nombre del producto" name="title" required>
    </div>
    <div class="mb-3 mt-3">
      <label for="description" class="form-label">Descripción</label>
      <input type="text" class="form-control" id="description" placeholder="Ingrese la descripción del producto" name="description" required>
    </div>
    <div class="mb-3 mt-3">
      <label for="code" class="form-label">Código</label>
      <input type="text" class="form-control" id="code" placeholder="Ingrese el código del producto" name="code" required>
    </div>
    <div class="mb-3">
      <label for="photo" class="form-label">Foto URL</label>
      <input type="url" class="form-control" id="image" placeholder="Ingrese imagen" name="thumbnail" required>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input type="number" class="form-control" id="price" placeholder="Ingrese precio" name="price" required>
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input type="number" class="form-control" id="stock" placeholder="Ingrese el stock del producto" name="stock" required>
    </div>
    <button type="submit" class="btn btn-success" id="send">Cargar producto</button>
    <div id="listaProductos"></div>
  </form>
</div>
{{/if}}

{{#if newProd}}
  <h3 style="background-color:aquamarine">El producto fue agregado</h3><br>
{{/if}}
{{#if products}}
  <div class="container p-4 my-5 bg-light" id="listaProductos">
    {{#if products}}
    <h1 style="color:blue">Vista de Productos</h1><br>
    <table class="table table-dark">
      <thead>
        <th>Código</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
        <th></th>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td>{{code}}</td>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td><img src="{{thumbnail}}" height="50rem"></td>
          </tr>
        {{/each}}    
      </tbody>
    </table>
    {{else}}
      <h3 style="background-color:aquamarine">No se encontraron productos</h3><br>
    {{/if}}
  </div>
{{/if}}